<h1>Agencies</h1>

<pw-loading when="{{!pagedItems}}"></pw-loading>

<div>
    <ul>
        <li *ngFor="let agency of pagedItems; let i = index">
            <h6 class="badge badge-pill badge-primary">{{ pager.startIndex + i + 1}}</h6><span> {{agency.code}} - {{agency.name}}</span>
        </li>
    </ul>
</div>

<!-- animation: http://jasonwatmore.com/post/2017/04/19/angular-2-4-router-animation-tutorial-example -->

<!-- pager -->
<nav>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm justify-content-center">
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">First</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{page}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
      </li>
  </ul>
</nav>
<!-- Bootstrap 4 Pagination: https://v4-alpha.getbootstrap.com/components/pagination -->