<h2>Listings on post code "{{postCode}}"</h2>

<!-- Angular2 table: http://valor-software.com/ng2-table/ -->

<div *ngIf="listings.length == 0">
    No listings found for this post code.
</div>

<div *ngIf="listings.length > 0">
<table>
    <thead>
        <th>#</th>
        <th>Id</th>
        <th>Agency</th>
        <th>Price</th>
        <th>Last publish date</th>
        <th>Property type</th>
        <th>Category</th>        
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Address</th>
        <th>Zoopla adv.</th>
    </thead>
    <tbody>
        <tr *ngFor="let listing of listings; let i = index">
            <td>{{i+1}}</td>
            <td>{{listing.id}}</td>
            <td>{{listing.agency}}</td>
            <td>{{listing.price}}</td>
            <td>{{listing.lastPublishDate}}</td>
            <td>{{listing.propertyType}}</td>
            <td>{{listing.category}}</td>
            <td>{{listing.latitude}}</td>
            <td>{{listing.longitude}}</td>
            <td>{{listing.address}}</td>
            <td><a href="{{listing.zooplaUrl}}" target="_blank">link</a></td>
        </tr>
    </tbody>
</table>
</div>

<!-- example for pagination: https://angular-2-training-book.rangle.io/handout/routing/query_params.html -->