table {
  border-radius: 4px 0 0 4px;
  background-color: #CFD8DC !important;
  color: white;
  border: 1px solid #607D8B;
}
th {
  color: #607D8B;
}
tr {
  color: #666;
  background-color: #BBD8DC;
}
tr:hover {
  background-color: #607D8B !important;
  color: 333;
}