
.postcodes {
  margin: 0 0 1.7em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.postcodes li {
  cursor: pointer;
  position: relative;
  left: 0;
  color: black;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.postcodes li.enabled_false {
  background-color: #aaa;
  color: #666;
}

.selected {
  color: black;
  background-color: orange !important;  
}

.postcodes li:hover {
  color: white;
  background-color: orange;
  left: .1em;
}

.postcodes li.selected:hover {
  color: white;
  background-color: orangered !important;  
}

.postcodes .text {
  position: relative;
  top: -2px;
}
.postcodes .badge {
  width: 3em;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  color: white;
  background-color: purple;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  padding: 0.8em 0.7em 0 0.7em;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button.delete {
  float: right;
  /*margin-top: 2px;*/
  margin-right: .5em;
  background-color: gray !important;
  color: white;
}
button.delete:hover { background-color: darkred !important; }
