<h1>{{title}}</h1>
<div>
    <h2>New post code</h2>
    <label>Code:</label> <input #code>
    <br/>    
    <label>Description:</label> <input #description>
    <button (click)="add(code.value, description.value); code.value=''; description.value='' ">add</button>
    <br/>  
</div>
<ul class="postcodes">
    <li *ngFor="let postcode of postcodes" 
        (click)="onSelect(postcode)" 
        [class.selected]="postcode === selectedPostcode">
        <span class="badge">{{postcode.code}}</span> {{postcode.description}}
        <button class="delete" (click)="delete(postcode); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedPostcode">
    <h2>{{selectedPostcode.code}}</h2>
    <button (click)="gotoDetail()">View details</button>
</div>